<img src="http://i.imgur.com/69LobhX.jpg" width="100%"></img>

{% if restaurant_list %} {% for restaurant in restaurant_list %}
<p>
    <font size="10">{{ restaurant.restaurant_name }}</font>
</p>
<blockquote>
    <blockquote>

        <table border="1" cellpadding="10" width=100%>
            <tr>
                <td width=40% align="center">
                    <font size="8">餐點名稱 </font>
                </td>
                <td width=25% align="center">
                    <font size="8">價格</font>
                </td>
                <td width=25% align="center">
                    <font size="8">點擊量</font>
                </td>
                <td width=10% align="center">
                    <font size="8">投票</font>
                </td>
            </tr>

            <form action="{% url 'rest:vote' restaurant.id %}" method="post">
                {% csrf_token %} {% for menu in restaurant.menu_set.all %}
                <tr>
                    <td width=40% align="center">
                        <font size="8">{{ menu.menu_text }} </font>
                    </td>
                    <td width=25% align="center">
                        <font size="8">{{ menu.price }}</font>
                    </td>
                    <td width=25% align="center">
                        <font size="8">{{ menu.votes }}</font>
                    </td>
                    <td width=10% align="center">
                        <font size="8">
                            <input type="radio" name="menu" id="menu{{ forloop.counter }}" value="{{ menu.id }}" style="width:40px ;height:40px" />
                        </font>
                    </td>
                </tr>

                {% endfor %}


        </table>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <input type="submit" value="點餐" style="width:200px;height:50px;font-size:30px;margin:20px" />
        </form>
    </blockquote>
</blockquote>

{% endfor %} {% else %}
<p>No polls are available.</p>
{% endif %}